<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="_file">

<!-- 	<sql id="dynamicWhere">
		<if test="searchKey == 'title'">
			AND TITLE LIKE '%'|| #{searchVal}||'%'
		</if>
		<if test="searchKey == 'content'">
			AND CONTENT LIKE '%'||#{searchVal}||'%'
		</if>
		<if test="searchKey == 'writer'">
			AND WRITER LIKE '%'||#{searchVal}||'%'
		</if>
	</sql> -->
	<insert id="insert" parameterType="fileVO" useGeneratedKeys="true" keyProperty="fileSeq" >
		INSERT INTO BCU_FILE(
			FILE_PATH,  FILE_NM, FILE_URL,
			ORDER_NO, FILE_SIZE, FILE_TYPE
		) VALUES(
			#{filePath}, #{fileNm}, #{fileUrl},
			#{orderNo}, #{fileSize}, #{fileType}
		)
	</insert>

	<select id="list" resultType="homeworkVO" parameterType="homeworkVO" >
		 SELECT
		        A.HW_SEQ      AS hwSeq,
				A.TITLE       AS title,
				A.REG_DT      AS regDt,
				CONCAT(B.FILE_PATH , B.FILE_NM) AS filePath,
				CONCAT(B.FILE_URL, B.FILE_NM )  AS fileUrl,
				CHECK_YN AS checkYn,
				REG_ID      AS regId,
				DATE_FORMAT(reg_dt, '%Y-%m-%d') AS regDt
		   FROM BCU_HOMEWORK A,
		        BCU_FILE B
	      WHERE A.FILE_SEQ = B.FILE_SEQ
	      ORDER BY REG_DT DESC
	</select>



	<select id="view" parameterType="homeworkVO" resultType="homeworkVO">
		SELECT
		        A.HW_SEQ      AS hwSeq,
				A.TITLE       AS title,
				A.REPLY       AS reply,
				A.REG_DT      AS regDt,
				CONCAT(B.FILE_PATH , B.FILE_NM) AS filePath,
				CONCAT(B.FILE_URL, B.FILE_NM )  AS fileUrl,
				CHECK_YN AS checkYn,
				REG_ID      AS regId,
				DATE_FORMAT(reg_dt, '%Y-%m-%d') AS regDt
		   FROM BCU_HOMEWORK A,
		        BCU_FILE B
	      WHERE A.HW_SEQ = ${hwSeq}
	        AND A.FILE_SEQ = B.FILE_SEQ
	</select>

	<update id="update" parameterType="boardVO">
		UPDATE TBL_BOARD
		   SET
		       TITLE = #{title},
		       CONTENT = #{content},
		       WRITER = #{writer},
		       modi_date = SYSDATE
		 WHERE BNO = #{bno}
	</update>

	<delete id="delete" parameterType="boardVO">
		DELETE FROM TBL_BOARD
		WHERE BNO = #{bno}
	</delete>

	<update id="updateReadCnt"  parameterType="boardVO">
		UPDATE TBL_BOARD
		   SET VIEWCNT = VIEWCNT + 1
		 WHERE BNO = #{bno}
	</update>
</mapper>