<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<select id="list" resultType="memberVO">
		SELECT
			   USER_ID AS userId,
			   USER_NAME AS userName,
			   USER_EMAIL AS userEmail,
			   USER_REG_DATE	 AS userRegDate,
			   USER_UPDATE_DATE AS userUpdateDate
		 FROM  TBL_MEMBER
		ORDER BY USER_REG_DATE DESC
	</select>

	<insert id="insert" parameterType="memberVO">
		INSERT INTO TBL_MEMBER(
			USER_ID, 		USER_NAME,			USER_PW,
			USER_EMAIL,		USER_REG_DATE
		) VALUES(
			#{userId}, 		#{userName},		#{userPw},
			#{userEmail},	SYSDATE
		)
	</insert>

	<select id="view" parameterType="String" resultType="memberVO">
		SELECT
				   USER_ID AS userId,
				   USER_NAME AS userName,
				   USER_EMAIL AS userEmail,
				   USER_REG_DATE	 AS userRegDate,
				   USER_UPDATE_DATE AS userUpdateDate
			 FROM  TBL_MEMBER
		    WHERE  USER_ID = #{userId}
	</select>

	<update id="update" parameterType="memberVO">
		UPDATE TBL_MEMBER
		   SET USER_NAME = #{userName},
		       USER_EMAIL = #{userEmail},
		       USER_PW = #{userPw},
		       USER_UPDATE_DATE = SYSDATE
		 WHERE USER_ID = #{userId}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TBL_MEMBER
		WHERE USER_ID = #{userId}
	</delete>

	<select id="checkPw" parameterType="memberVO" resultType="int">
		SELECT COUNT(*) FROM TBL_MEMBER
		WHERE USER_ID = #{userId} and USER_PW = #{userPw}
	</select>
</mapper>