<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//www.mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="homeworkVO" type="com.isaac.bcu.homework.HomeworkVO"></typeAlias>
		<typeAlias alias="fileVO" type="com.isaac.bcu.file.FileVO"></typeAlias>
		<typeAlias alias="memberVO" type="com.isaac.bcu.homework.member.MemberVO"></typeAlias>
	</typeAliases>
	<plugins>
		<plugin interceptor="com.isaac.homework.interceptor.LogInterceptor"></plugin>
	</plugins>

</configuration>