<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="_homework">

	<select id="list" resultType="homeworkVO" parameterType="homeworkVO" >
		 SELECT
		        A.HW_SEQ      AS hwSeq,
				A.TITLE       AS title,
				A.REG_DT      AS regDt,
				(SELECT CONCAT(FILE_PATH , FILE_NM) FROM isaac_data.bcu_file bf  WHERE bf.hw_seq = A.hw_seq LIMIT 1) AS filePath,
				(SELECT CONCAT(file_url , FILE_NM) FROM isaac_data.bcu_file bf2  WHERE bf2.hw_seq = A.hw_seq LIMIT 1)   AS fileUrl,
				CHECK_YN AS checkYn,
				REG_ID      AS regId,
				(select user_nm from isaac_data.bcu_member bm where user_id = A.reg_id ) as regNm,
				DATE_FORMAT(reg_dt, '%Y-%m-%d') AS regDt,
				(SELECT bf.ORDER_NO FROM isaac_data.bcu_file bf  WHERE bf.hw_seq = A.hw_seq LIMIT 1) AS orderNo,
				IF(REPLY IS NULL, 'n', 'y') replyYn,
				count(B.file_seq) AS cnt
		   FROM isaac_data.bcu_homework A,
		        isaac_data.bcu_file B
	      WHERE A.HW_SEQ = B.HW_SEQ
	        AND REG_ID = #{regId}
	      GROUP BY A.HW_SEQ
	      ORDER BY A.HW_SEQ DESC
	</select>

	<select id="imgList" resultType="homeworkVO" parameterType="homeworkVO" >
		 SELECT
		        A.HW_SEQ      AS hwSeq,
				A.TITLE       AS title,
				A.REG_DT      AS regDt,
				CONCAT(B.FILE_PATH , B.FILE_NM) AS filePath,
				CONCAT(B.FILE_URL, B.FILE_NM )  AS fileUrl,
				B.FILE_SEQ AS fileSeq,
				CHECK_YN AS checkYn,
				REG_ID      AS regId,
				(SELECT user_nm FROM isaac_data.bcu_member bm WHERE bm.user_id = A.REG_ID ) AS regNm,
				DATE_FORMAT(reg_dt, '%Y-%m-%d') AS regDt,
				B.ORDER_NO    AS orderNo
		   FROM isaac_data.bcu_homework A,
		        isaac_data.bcu_file B
	      WHERE A.HW_SEQ = B.HW_SEQ
	        AND A.HW_SEQ = #{hwSeq}
	      ORDER BY A.HW_SEQ desc
	</select>

	<insert id="insert" parameterType="homeworkVO" >
		INSERT INTO isaac_data.bcu_homework(
			TITLE, REG_DT, REG_ID
		) VALUES(
			#{title}, now(), #{regId}
		)
		<selectKey keyProperty="hwSeq" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="view" parameterType="homeworkVO" resultType="homeworkVO">
		SELECT
		        A.HW_SEQ      AS hwSeq,
				A.TITLE       AS title,
				A.REPLY       AS reply,
				A.REG_DT      AS regDt,
				(SELECT TEACHER_YN FROM isaac_data.bcu_member WHERE USER_ID = A.REG_ID ) AS teacherYn,
				CONCAT(B.FILE_PATH , B.FILE_NM) AS filePath,
				CONCAT(B.FILE_URL, B.FILE_NM )  AS fileUrl,
				B.FILE_SEQ   AS fileSeq,
				CHECK_YN AS checkYn,
				REG_ID      AS regId,
				(SELECT user_nm FROM isaac_data.bcu_member bm WHERE bm.user_id = A.REG_ID ) AS regNm,
				DATE_FORMAT(reg_dt, '%Y-%m-%d') AS regDt,
				B.ORDER_NO    AS orderNo
		   FROM isaac_data.bcu_homework A,
		        isaac_data.bcu_file B
	      WHERE A.HW_SEQ = #{hwSeq}
	        AND B.FILE_SEQ = #{fileSeq}
	        AND A.HW_SEQ = B.HW_SEQ
	</select>

	<update id="update" parameterType="homeworkVO">
		UPDATE isaac_data.bcu_homework
		   SET REPLY = #{reply}
		 WHERE HW_SEQ = #{hwSeq}
	</update>

	<delete id="delete" parameterType="homeworkVO">
		DELETE FROM TBL_BOARD
		WHERE BNO = #{bno}
	</delete>

	<update id="updateReadCnt"  parameterType="homeworkVO">
		UPDATE TBL_BOARD
		   SET VIEWCNT = VIEWCNT + 1
		 WHERE BNO = #{bno}
	</update>
</mapper>