<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="_homework">

	<select id="list" resultType="homeworkVO" parameterType="homeworkVO" >
		 SELECT
		        A.HW_SEQ      AS hwSeq,
				A.TITLE       AS title,
				A.REG_DT      AS regDt,
				CONCAT(B.FILE_PATH , B.FILE_NM) AS filePath,
				CONCAT(B.FILE_URL, B.FILE_NM )  AS fileUrl,
				CHECK_YN AS checkYn,
				REG_ID      AS regId,
				DATE_FORMAT(reg_dt, '%Y-%m-%d') AS regDt
		   FROM BCU_HOMEWORK A,
		        BCU_FILE B
	      WHERE A.FILE_SEQ = B.FILE_SEQ
	      ORDER BY HW_SEQ DESC
	</select>

	<insert id="insert" parameterType="homeworkVO" >
		INSERT INTO BCU_HOMEWORK(
			TITLE, REPLY, CONFIRM_YN, CHECK_YN, REG_DT, REG_ID, FILE_SEQ
		) VALUES(
			#{title}, #{reply}, #{confirmYn}, #{checkYn}, now(), #{regId}, #{fileSeq}
		)
	</insert>

	<select id="view" parameterType="homeworkVO" resultType="homeworkVO">
		SELECT
		        A.HW_SEQ      AS hwSeq,
				A.TITLE       AS title,
				A.REPLY       AS reply,
				A.REG_DT      AS regDt,
				CONCAT(B.FILE_PATH , B.FILE_NM) AS filePath,
				CONCAT(B.FILE_URL, B.FILE_NM )  AS fileUrl,
				CHECK_YN AS checkYn,
				REG_ID      AS regId,
				DATE_FORMAT(reg_dt, '%Y-%m-%d') AS regDt
		   FROM BCU_HOMEWORK A,
		        BCU_FILE B
	      WHERE A.HW_SEQ = ${hwSeq}
	        AND A.FILE_SEQ = B.FILE_SEQ
	</select>

	<update id="update" parameterType="homeworkVO">
		UPDATE BCU_HOMEWORK
		   SET REPLY = #{reply}
		 WHERE HW_SEQ = #{hwSeq}
	</update>

	<delete id="delete" parameterType="boardVO">
		DELETE FROM TBL_BOARD
		WHERE BNO = #{bno}
	</delete>

	<update id="updateReadCnt"  parameterType="boardVO">
		UPDATE TBL_BOARD
		   SET VIEWCNT = VIEWCNT + 1
		 WHERE BNO = #{bno}
	</update>
</mapper>