<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="_member">

	<select id="list" resultType="memberVO" parameterType="memberVO" >
		 SELECT
				USER_ID        AS  userId    ,
				USER_NM        AS  userNm    ,
				KLASS          AS  klass     ,
				LEVEL          AS  level     ,
				ATTENDING_YN   AS  attendingY,
				CHECK_YN       AS  checkYn   ,
				TEACHER_YN     AS  teacherYn
		   FROM isaac_data.bcu_member
		  WHERE KLASS = #{klass}
            AND TEACHER_YN  != 'y'
	</select>

	<select id="viewForLogin" parameterType="memberVO" resultType="memberVO">
		SELECT
			   USER_ID         AS userId,
			   USER_NM         AS userNm,
			   PASSWORD        AS password,
			   KLASS           AS klass,
			   LEVEL           AS level,
			   ATTENDING_YN    AS attendingYn,
			   CHECK_YN        AS checkYn,
			   TEACHER_YN      AS teacherYn
		   FROM isaac_data.bcu_member
	      WHERE USER_ID = #{userId}
	</select>

		<select id="view" parameterType="memberVO" resultType="memberVO">
		SELECT
			   USER_ID         AS userId,
			   USER_NM         AS userNm,
			   KLASS           AS klass,
			   LEVEL           AS level,
			   ATTENDING_YN    AS attendingYn,
			   CHECK_YN        AS checkYn,
			   TEACHER_YN      AS teacherYn
		   FROM isaac_data.bcu_member
	      WHERE USER_ID = #{userId}
	</select>

	<insert id="insert" parameterType="memberVO" >
		INSERT INTO isaac_data.bcu_member(
			USER_ID, USER_NM, PASSWORD, KLASS, LEVEL, TEACHER_YN
		) VALUES(
			#{userId}, #{userNm}, #{password}, #{klass}, #{level}, #{teacherYn}
		)
	</insert>


	<select id="checkDupl" parameterType="memberVO" resultType="int">
		SELECT COUNT(USER_ID)
		  FROM isaac_data.bcu_member
		 WHERE USER_ID = #{userId}
	</select>

	<update id="update" parameterType="memberVO">
		UPDATE isaac_data.bcu_homework
		   SET REPLY = #{reply}
		 WHERE HW_SEQ = #{hwSeq}
	</update>

	<delete id="delete" parameterType="memberVO">
		DELETE FROM TBL_BOARD
		WHERE BNO = #{bno}
	</delete>

	<update id="updateReadCnt"  parameterType="memberVO">
		UPDATE TBL_BOARD
		   SET VIEWCNT = VIEWCNT + 1
		 WHERE BNO = #{bno}
	</update>
</mapper>