<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<sql id="dynamicWhere">
		<if test="searchKey == 'title'">
			AND TITLE LIKE '%'|| #{searchVal}||'%'
		</if>
		<if test="searchKey == 'content'">
			AND CONTENT LIKE '%'||#{searchVal}||'%'
		</if>
		<if test="searchKey == 'writer'">
			AND WRITER LIKE '%'||#{searchVal}||'%'
		</if>
	</sql>

	<select id="list" resultType="boardVO" parameterType="boardVO" >
		SELECT
				BNO     AS bno,
				TITLE   AS title,
				CONTENT AS content,
				WRITER  AS writer,
				REGDATE AS regdate,
				VIEWCNT AS viewcnt
		  FROM  TBL_BOARD
		 WHERE 1=1
		 <include refid="dynamicWhere"/>
		 ORDER BY BNO DESC, REGDATE DESC
	</select>

	<insert id="insert" parameterType="boardVO">
		INSERT INTO TBL_BOARD(
			BNO,		TITLE,		CONTENT,	WRITER,
			REGDATE
		) VALUES(
			(SELECT NVL(MAX(BNO)+1, 1) FROM TBL_BOARD),		#{title},   #{content},	 #{writer},
			sysdate
		)
	</insert>

	<select id="view" parameterType="boardVO" resultType="boardVO">
		SELECT
				BNO     AS bno,
				TITLE   AS title,
				CONTENT AS content,
				WRITER  AS writer,
				REGDATE AS regdate,
				VIEWCNT AS viewcnt
		  FROM  TBL_BOARD
		 WHERE  BNO = #{bno}
	</select>

	<update id="update" parameterType="boardVO">
		UPDATE TBL_BOARD
		   SET
		       TITLE = #{title},
		       CONTENT = #{content},
		       WRITER = #{writer},
		       modi_date = SYSDATE
		 WHERE BNO = #{bno}
	</update>

	<delete id="delete" parameterType="boardVO">
		DELETE FROM TBL_BOARD
		WHERE BNO = #{bno}
	</delete>

	<update id="updateReadCnt"  parameterType="boardVO">
		UPDATE TBL_BOARD
		   SET VIEWCNT = VIEWCNT + 1
		 WHERE BNO = #{bno}
	</update>
</mapper>